.form-group {
  padding: 0px 15px;
  display: flex;
}

.border {
  margin: 5px 0px 15px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
